
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@{
    ViewData["Title"] = "Login";

}

<div class="parent">
    <div class="center" style="float: left; width: 50%;">
        <div class="border" style=" border: 1px solid #ADADAD; border-radius: 5px; background-color: #ebebeb;">

            <div>
                <h2>Login</h2>
                <p>This is where the Login should be.</p>
            </div>
        </div>
    </div>

</div>





